//Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../node_modules/bootstrap/scss/_button-group.scss";
@import "../node_modules/bootstrap/scss/_buttons.scss";


html {
  scroll-behavior: smooth;
}

html, body {
  height: 100vh;
  width:  100%;
}

body {
  font-family: 'trade-gothic', sans-serif;
  overflow-x: hidden;
}

.hidden {
  display: none !important;
}


//Root Styles


  $primary-green: #216937;
  $primary-blue: #2D5F93;
  $primary-red: #C72127;
  $off-white: #FCF3E2;
  $white: #FFF;
  $black: #000;



//Fonts

@font-face {
    font-family: 'trade-gothic';
    src: url('../fonts/trade-gothic-bold.OTF');
    font-weight: 600;
  }

  @font-face {
    font-family: 'trade-gothic';
    src: url('../fonts/trade-gothic-book.OTF');
    font-weight: 400;
  }

@font-face {
    font-family: 'trade-cond';
    src: url('../fonts/trade-cond-bold.OTF');
    font-weight: 600;
  }

  @font-face {
    font-family: 'trade-cond';
    src: url('../fonts/trade-cond-book.OTF');
    font-weight: 400;
  }

  @font-face {
    font-family: 'farm-levis';
    src:  url('../fonts/farm-levis.eot?uwcl6v');
    src:  url('../fonts/farm-levis.eot?uwcl6v#iefix') format('embedded-opentype'),
      url('../fonts/farm-levis.ttf?uwcl6v') format('truetype'),
      url('../fonts/farm-levis.woff?uwcl6v') format('woff'),
      url('../fonts/farm-levis.svg?uwcl6v#farm-levis') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'farm-levis' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-close-alt:before {
    content: "\e90b";
  }
  .icon-check:before {
    content: "\e90c";
  }
  .icon-logo-capa:before {
    content: "\e900";
  }
  .icon-logo-ver:before {
    content: "\e901";
  }
  .icon-logo-hor:before {
    content: "\e902";
  }
  .icon-us-flag:before {
    content: "\e903";
  }
  .icon-menu:before {
    content: "\e904";
  }
  .icon-chevron-top:before {
    content: "\e905";
  }
  .icon-chevron-bottom:before {
    content: "\e906";
  }
  .icon-play:before {
    content: "\e907";
  }
  .icon-close:before {
    content: "\e908";
  }
  .icon-chevron-left:before {
    content: "\e909";
  }
  .icon-chevron-right:before {
    content: "\e90a";
  }
  .icon-checkbox-checked:before {
    content: "\ea52";
  }
  .icon-checkbox-unchecked:before {
    content: "\ea53";
  }
  .icon-radio-checked:before {
    content: "\ea54";
  }
  .icon-radio-checked2:before {
    content: "\ea55";
  }
  .icon-radio-unchecked:before {
    content: "\ea56";
  }
  .icon-facebook2:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }
  .icon-spotify:before {
    content: "\ea94";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-youtube:before {
    content: "\ea9d";
  }


  .upcase {
      text-transform: uppercase;
  }

  .bd {
      font-weight: 600;
  }
  .lgt {
    font-weight: 400;
}

  .heading {
      font-size: 40px;
      line-height: 40px;
  }

  .display {
      font-size: 24px;
      line-height: 32px;
  }

  .body {
      line-height: 24px;
      &.md {
          font-size: 16px;
      }
      &.sm {
          font-size: 14px;
      }
  }

  .condensed {
      font-family: 'trade-cond, sans-serif';
  }

  //Global

  button {
    outline: 0;
    border: 0;
  }

  a, a:hover, a:active {
    text-decoration: none;
  }
  
  .main-header {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    position: fixed;
    top: 0;
    background: transparent;
    display: flex;
    padding: 12px;
    z-index: 9;
  }

  .spread {
    margin: 40px 0;
  }

// Animations

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

  //Hero

  .main-hero {
    background: url(../img/primary_002.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-holder {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    position: relative;
  
    & .icon {
        color: $white;
        font-size: 15rem;
    }
    & .neutral-link {
        position: absolute;
        bottom: 0;
        text-align: center;

        & .icon {
          font-size: 10px;
          display: block;
          margin-top: 16px;
        }
    }
}


  //Actions

  a, button {
    transition: all .4s ease-in-out;
  }

  .icon {
    transition: all .4s ease-in-out;
  }

  .mini-btn {
      font-size: 10px;
      line-height: 12px;
      padding: 4px 12px;
      text-transform: uppercase;
      font-weight: 600;
      border: 1px solid transparent;
      border-radius: 0;
      transition: all .4s ease-in-out;
  }

  .btn {
      font-size: 16px;
      line-height: 22px;
      padding: 6px 16px;
      border: 1px solid transparent;
      border-radius: 0;
      font-weight: 600;
      vertical-align: middle;
      transition: all .4s ease-in-out;
  }

  .menu-btn {
      text-transform: uppercase;
      color: $primary-green;
      background-color: $white;
      
      & .icon {
          margin-right: 8px;
          line-height: 12px;
          vertical-align: middle;
      }

      &:hover {
        color: $white;
        background-color: $primary-green;
        padding: 6px 32px;
      }
  }

  .outline-btn {
      border: 1px solid $white;
      color: $white;
      font-weight: 400;

      & .icon {
        vertical-align: middle;
        font-size: 12px;
        margin-left: 8px;
      }

      &:hover {
        color: $black;
        background-color: $white;
      }
  }

  .primary-link {
    font-size: 14px;
    text-transform: uppercase;
    color: $primary-green;
    font-weight: 600;
    padding: 0 16px;

    &:hover {
      opacity: .6;
      color: $primary-green;
      text-decoration: none;
    }
  }

  .outline-accent-btn {
    box-sizing: border-box;
    border: 2px solid $primary-green;
    font-size: 14px;
    text-transform: uppercase;
    color: $primary-green;
    line-height: 56px;
    transition: all .4s ease-in-out;

    &:hover {
      background-color: $primary-green;
      color: $white;
    }
  }

  .primary-btn {
    color: $white;
    font-weight: 400;
    font-size: 16px;
    background-color: $primary-green;
    transition: all .4s ease-in-out;
    border: 1px solid transparent;

    &:hover {
      background-color: $white;
      color: $primary-green;
      border: 1px solid $primary-green;
    }
  }

  .accent-btn {
    color: $white;
    font-weight: 600;
    font-size: 16px;
    background-color: $primary-green;
    transition: all .4s ease-in-out;

    &:hover {
      background-color: $white;
      color: $primary-green;

      & .icon {
        color: $primary-green;
      }
    }
  }

  .neutral-link {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: $white;

    &:hover {
      text-decoration: none;
      color: $white;
      opacity: .6;
    }
  }

  .sub-link {
    color: $white;
    font-size: 14px;
    line-height: 14px;
    padding: 8px 0;
    border-bottom: 1px solid $white;

    & .icon {
      font-size: 11px;
      margin-left: 8px;
    }

    &:hover {
      padding: 8px;
      color: $primary-green;
      text-decoration: none;
      background-color: $white;
    }
  }

  .anchor-section {
    font-size: 18px;
    color: $black;
    margin: 0 auto;
    text-align: center;
    display: block;
    transition: all .4s ease-in-out;

    &:hover {
      text-decoration: none;
      color: inherit;
      opacity: .6;
    }
  }

  .btn-secondary {
    color: $black;
    border: 1px solid $black;
    background-color: $white;
    vertical-align: middle;
    line-height: 16px;

    &.active {
      color: $white;
      background-color: $black !important;
      border-color: $black;
    }

    &:hover {
      background-color: $black;
      border-color: $black;
    }
  }
  
  .form-button {
    border-radius: 0;
    background-color: $white;
    color: $primary-green !important;
    text-decoration: underline !important;
    line-height: 24px;
    padding: 4px 24px;
    transition: all .4s ease-in-out;
    border: 1px solid transparent;

    &:hover {
       background-color: $primary-green;
       color: $white !important;
       border: 1px solid $white;
    }
  }
  
  .inta-trigger {
    font-size: 40px;
    font-weight: 600;
    color: $primary-blue;
    text-transform: uppercase;
  }


//Canvas Styles

.canvas-contained {
  position: relative;
  height: 3020px;
  display: block;
  margin-bottom: 40px;
}


.container-block {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}


canvas {
  position: relative;
  width: 100%;
  min-height: 100%;
}

  
  .text-container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    top: 0;
    color: white;
    .subtitle { 
      opacity: 0;
      font-size: 30px; 
    }
    .title { 
      opacity: 0;
      font-size: 80px; margin: -20px 0;
    }
  }

  .animated-section {
      width: 100%;
      position: relative;
      bottom: 0;
      overflow-x: hidden;

      & .round-detail {
          position: absolute;
          margin: 0 auto;
          width: 100%;
          display: flex;
          height: 100vh;
          align-items: center;
          justify-content: center;
          z-index: 3;

          & img {
           width: 380px;
           height: auto;
          -webkit-animation: rotating 6s linear infinite;
          -moz-animation: rotating 6s linear infinite;
          -ms-animation: rotating 6s linear infinite;
          -o-animation: rotating 6s linear infinite;
          animation: rotating 6s linear infinite;
          }
      }

      & .animated-compose {
          display: flex;
          width: 100%;
          & .image-block {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100vh;
              overflow: hidden;
              & img {
                  height: 100vh;
              }
          }
      }
  }

    // Location Section

  .location-section {
    background: url(../img/section-location.jpg) no-repeat 100% 60% fixed; 
    background-size: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    position: relative;
    
    & .container-fluid {
        height: 100vh;
        align-items: stretch;
        align-content: center;
        z-index: 2;
    }

    & .location-content {
        max-width: 542px;
        height: 100%;
        position: relative;
        padding: 80px 56px;

        & .action-holder {
            position: absolute;
            bottom: 56px;
        }

    }

    & .location-overlay {
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .3) 100%);
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .location-bar {
    background-color: $white;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    line-height: 32px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    z-index: 10;

    & .select-holder {
      display: flex;
      background-color: $primary-green;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      width: 100%;

      & .country-nav a {
        font-size: 14px;
        color: $white;
        padding: 0 24px;
      }
      & .country-nav button {
        font-size: 14px;
        color: $white;
        padding: 0 24px;
        background-color: transparent;
      }

    }

    & .brand-col {
      display: flex;
      padding: 16px 24px;
      align-items: center;
      width: 280px;
      & .tag-text {
        vertical-align: center;
        font-size: 16px;
        color: $primary-green;
        margin-left: 24px;

        & .icon {
          font-size: 10px;
          vertical-align: middle;
          margin-left: 8px;
        }
      }

      & .icon-logo-ver {
        font-size: 32px;
        color: $primary-green;
      }
    }

  }

    // Marquee Transition

    .marquee-like {
      width: 100%;
      overflow: hidden;
      position: relative;
      --offset: 100vw;
      --move-initial: calc(-60% + var(--offset));
      --move-final: calc(0 + var(--offset));

      & .marquee-inner {
        width: 300%;
        display: block;
        position: relative;
        overflow: hidden;
        transform: translate3d(var(--move-initial), 0, 0);
        animation: marquee 10s linear infinite;
      }

      & span {
        font-size: 32px;
        word-wrap:  normal;
        color: $white;
        -webkit-text-stroke: 1px $primary-blue; /* width and color */
        text-transform: uppercase;
        font-weight: 600;
      }
    }
    
    @keyframes marquee {
      0% {
          transform: translate3d(var(--move-initial), 0, 0);
      }
  
      100% {
          transform: translate3d(var(--move-final), 0, 0);
      }
  }


  // Lookbook Grid Styles

  .lookbook {
    padding: 40px 56px;
  }

  .grid-container {
    display: grid;
    height: 100vh;
    gap: 8px 8px;
  }

  .grid-container-01 {
    grid-template-columns: 1.3fr 0.9fr 0.9fr 0.9fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "sidebar grid01 grid02 grid03"
      "sidebar grid04 grid05 grid06";
  }
  .grid-container-02 {
    grid-template-columns: 1.3fr 0.9fr 0.9fr 0.9fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "sidebar grid07 grid09 grid09"
    "sidebar grid08 grid09 grid09";
  }

.grid-container-03 {
  grid-template-columns: 1.3fr 0.9fr 0.9fr 0.9fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "sidebar grid010 grid11 grid12"
    "sidebar grid013 grid14 grid12";
}

.grid-container-04 {
  grid-template-columns: 1.3fr 0.9fr 0.9fr 0.9fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "sidebar grid015 grid016 grid017"
    "sidebar grid018 grid018 grid018";
}

  .sidebar { 
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    width: 100%;
    height: 100%;
    & .sidebar-item {
      width: 100%;
      height: 100%;
    }
   }

   .grid-text {
     display: flex;
     justify-content: center;
     align-items: center;
    & h3 {
      font-size: 28px;
      line-height: 40px;
      color: $primary-blue;
      font-weight: 600;
      word-wrap: break-word;
      max-width: 180px;
      text-transform: uppercase;
    }
   }

   .grid-action {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: flex-end;
     & a {
       margin-bottom: 16px;
     }
   }
  .grid01 { 
    grid-area: grid01;
    background: url(../img/grid01.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
   }
  .grid02 { 
    grid-area: grid02; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid03 { 
    grid-area: grid03;
    background: url(../img/grid03.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .grid04 { 
    grid-area: grid04;
    background: url(../img/grid04.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   }
  .grid05 { 
    grid-area: grid05;
    background: url(../img/grid05.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  }
  .grid06 { 
    grid-area: grid06; 
    background: url(../img/grid06.jpg) no-repeat center center; 
        -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

  
  .grid07 {
      grid-area: grid07; 
      background: url(../img/grid07.jpg) no-repeat center center; 
        -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

  .grid08 {
      grid-area: grid08;
      background: url(../img/grid08.jpg) no-repeat center center; 
        -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  .grid09 {
      grid-area: grid09; 
      background: url(../img/grid09.jpg) no-repeat center center; 
        -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .grid010 { 
      grid-area: grid010;
     }

    .grid011 { 
      grid-area: grid11;
      background: url(../img/grid011.jpg) no-repeat center center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
     }
    .grid012 { 
      grid-area: grid12;
      background: url(../img/grid012.jpg) no-repeat center center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
     }
    .grid013 { 
      grid-area: grid013;
      background: url(../img/grid013.jpg) no-repeat center center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
     }
    .grid014 { 
      grid-area: grid14;
      background: url(../img/grid014.jpg) no-repeat center center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
     }

      .grid015 { 
        grid-area: grid015;
        background: url(../img/grid015.jpg) no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
       }

      .grid016 { 
        grid-area: grid016;
        background: url(../img/grid016.jpg) no-repeat center center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
       }
      .grid017 { 
        grid-area: grid017;
        background: url(../img/grid017.jpg) no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      .grid018 { 
        grid-area: grid018;
        background: url(../img/grid018.jpg) no-repeat 40% 40%; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
       }


    .vd-player {
      position: relative;
      width: 100%;
      height: 100%;
      & a {
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
  
        & .icon {
          color: $white;
          font-size: 24px;
        }

        &:hover {
          text-decoration: none;
          color: $primary-green;
          box-shadow: 0px 40px 30px rgba(0, 0, 0, 0.3);
  
        }
      }
    }

  .video-player {
    position: relative;

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 100%;
      overflow: hidden;
      object-fit: cover;
      object-position: center;
      backface-visibility: hidden;
    }
  }

   // Sticked Menu Styles


 .sticked-menu {
      max-width: 100%;
      width: 100%;
      margin: 0;
      background-color: $white;
      position: fixed;
      display: none;

      & .anchor-like {
        background: transparent;
      }

      &.visibleMenu {
        opacity: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        z-index: 9999;
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
      }

      &.dropout {
        -webkit-animation-name: fadeOutUp;
        animation-name: fadeOutUp;
      }

      & .close-btn {
        line-height: 56px;
        padding: 0 32px;
        text-transform: uppercase;

        & .icon {
          margin-right: 8px;
        }
      }

      & .icon-logo-hor {
        font-size: 28px;
        line-height: 56px;
        vertical-align: middle;
        margin: 0 28px;
        color: $primary-green;
      }
      
      & .outline-accent-btn {
        margin: 0 16px;
        height: 32px;
        line-height: 20px;
      }
      & button, & span {
        align-self: center;
      }
  }
  

  .nav-holder {
    display: flex;
    line-height: 32px;
    align-items: center;
    flex-wrap: wrap;
  }

  // Newsletter Bar

  .newsletter-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    line-height: 56px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    

    & .message-section {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: $white;
      flex-grow: 2;
      padding: 0 16px;

      & p {
        margin: 0 24px;
        font-size: 14px;
        color: $primary-green;
      }
    }

    & .triggers-section {
      display: flex;
      align-items: center;
      flex-grow: 2;
      background-color: $primary-green;
      padding: 0 16px;

      & a {
        margin: 0 24px;
      }
    }

    & .prop-asset {
      position: absolute;
      right: 0;
      bottom: 0;

      & img {
        width: 300px;
      }
    }
  }

  .news-bar-active {
    position: absolute;
    background-color: $primary-green;
    bottom: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    line-height: 56px;
    height: 80px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;

    & .image-holder {
      width: 124px;
      overflow: hidden;

      & img {
        width: 100%;
      }
    }

    & .news-content-info {
      max-width: 400px;
      display: flex;
      align-items: center;

      & p {
        font-size: 14px;
        color: $white;
        line-height: 18px;
        margin: 0 24px;
      }
    }

    & .prop-asset {
      position: absolute;
      right: 0;
      bottom: 0;

      & img {
        width: 300px;
      }
    }

    & .form-bar {
      display: flex;
      align-items: center;
      flex-direction: row;

      & .form-group {
        display: inline-block;
        margin: 0 16px;
      }

      & form {
        display: flex;
        align-items: center;
      }

      & form input {
        padding: 0;
        margin: 24px 0;
        line-height: 32px;

        &:focus {
          outline: 0;
          border-bottom: 3px solid $off-white;
        }

        &::placeholder {
           color: $white;
        }
      }
    }
  }

  // Newsletter Form

  .newsletter-form {
    display: grid;
    grid-template-columns: 1.1fr 1.1fr 0.9fr 0.9fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    padding-top: 64px;
    grid-template-areas:
      "content content image-holder image-holder"
      "content content image-holder image-holder";
    height: 640px;

    & .content { 
      grid-area: content;
      background-color: $primary-green;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
  
      & .content-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 380px;
        & p {
          margin: 24px 0;
        }
        & .icon {
          display: block;
          margin: 24px auto;
          font-size: 100px;
        }
        & .action-holder {
          display: flex;
          justify-content: center;

          & .btn {
            margin: 0 24px !important;
          }
        }
        & form input {
          padding: 8px;
          display: block;
          margin: 0 8px;
          width: 100%;
  
          &:focus {
            outline: 0;
            border-bottom: 3px solid $off-white;
          }
  
          &::placeholder {
             color: $white;
          }
        }
      }
     }

    &.success {
      & .content { 
        background-color: $white;
        color: $primary-green;

        & p {
          margin: 64px 0;
          text-align: center;
        }

        & .primary-btn {
          max-width: 240px;
          margin: 0 auto;
        }
    }
  }

}

  .image-holder { 
    grid-area: image-holder;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }

  label {
    margin: 0;
  }

  .form-group {
    margin: 32px 0;
  }

  .form-control {
    margin: 0 !important;
    background-color: transparent;
    border-radius: 0;
    color: $white;
    border: 0;
    border-bottom: 2px solid $white;

    &::placeholder {
      color: $white;
    }
  }


  // Ecommerce Section

  .ecommerce-section {
    padding: 80px 56px;
    position: relative;

    & .comm-grid {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

.shopping-item {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px 16px;

  & .image-holder {
    & img {
      width: 100%;
    }
  }

  & .product-name {
    font-family: got;
    font-size: 16px;

  }

  & .price {
    font-size: 14px;
  }

  & .selection-card {
    background-color: $white;
    position: relative;
    margin: 0 auto;
    margin-top: -40px;
    width: 90%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    & .btn-group {
      margin-top: 24px;

      & label {
        width: 40px;
        padding: 8px 8px 4px;
        font-weight: 400;
        text-align: center;
        margin: 0 8px;

        &.unavailable {
          opacity: .3;
          pointer-events: none;
        }

        & input {
          vertical-align: middle;
        }
      }
    }

    & .action-holder {
      margin-top: 24px;
      & .btn {
        padding: 10px 30px;
        font-weight: 400;
      }
    }
  }
}


.nature-section {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "nature-bg nature-content"
      "nature-bg nature-content";
      position: relative;
  
  & .nature-bg { 
    grid-area: nature-bg;
    position: relative;
    background: url(../img/grid013.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    & .nature-detail {
      position: absolute;
      top: 40px;
      right: -70px;
      width: 262px;
    }

    & .anchor-section {
      position: absolute;
      bottom: 8px;
      right: 8px;
      color: $white;
    }
   }
   

   & .sustentabilidade-detail {
    position: absolute;
    right: 0;
    top: -30px;

    & img {
      max-width: 308px;
    }
  }
  
  & .nature-content { 
    grid-area: nature-content; 
    color: $primary-green;
    padding: 72px 20%;
  
    & p {
      max-width: 220px;
      margin-bottom: 40px;
    }
    & .logo-holder {
      margin-top: 40px;
      max-width: 300px;
      display: flex;
      justify-content: space-between;
    }
  }
 
}

.nature-dialogues {
  padding: 80px 0;
  position: relative;
  & .section-title-img {
    padding: 40px;
  }

  & .dialogue-item {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 24px 0;
    width: 100%;

    & .video-holder {
      width: 600px;
      background-color: $primary-red;
    }

    & .dialogue-content {
      width: 100%;
    }

    & .inta-trigger {
      position: relative;
      z-index: 2;
      bottom: -70px;
      left: 220px;
    }

    & .author-bio {
      padding: 40px 120px 56px;
      display: flex;
      align-items: flex-end;

      &.right {
        padding: 40px 180px 56px;
      }

      & .avatar {
        margin-right: 32px;
      }

      & p {
        max-width: 400px;
        color: $primary-blue;
        margin: 0;
      }
    }

    & .images-grid {
      display: flex;

      & img {
        width: 190px;
        height: 190px;
        margin-right: 16px;
      }

      &.right {
        float: right;

        & img {
          margin-right: 0;
          margin-left: 16px;
        }
      }

    }
  }
}

.slider-container {
  overflow: hidden;
  width: 100%;
  margin: 56px 0;
}

.slider-title {
  position: relative;
  z-index: 2;
  left: 60px;
  top: 20px;
}

.slider-view-track {
  margin-left: 80px;
  overflow: auto;
  white-space: nowrap;
  align-items: center;

  & .slide {
    display: inline-block;
    width: 264px;
    height: 264px;
    margin-right: 8px;
    background-color: $primary-red;
  }
}


@media (min-width: 1201px) {
  .mob {
    display: none;
  }
}


@media (max-width: 1200px) {

  .flex-fix {
    margin: 16px 0;
    & div {
      margin: 0 8px;
    }
  }

  .grid-blank.grid-text h3 {
      font-size:120px;
      font-weight: 400;
    }


  body {
    overflow-x: hidden;
  }
  
  .mob {
    display: flex;
    flex-direction: column;
  }

  .arvores-detail {
    & img {
      width: 100%;
    }
  }

  .grid-text {
    padding: 16px;
  }

  .grid-text h3 {
    font-size: 24px;
  }

  .newsletter-form {
    & .content-holder {
      padding: 32px !important;

      & .icon {
        font-size: 80px !important;
      }
    }
  }
 
  .flex-fix {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 400px;

    & div {
      width: 50%;
    }
  }

  .desktop {
    display: none;
  }

  .lookbook {
    height: auto;
    padding: 20px 0;
  }

  .grid-container div {
    height: auto;
    min-width: 40%;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
  }

  .ecommerce-section .comm-grid {
    flex-direction: column;

    & .shopping-item {
      max-width: 100%;
      display: block;
    }
  }

  .newsletter-form {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;

    & .content-holder {
      padding: 32px 0;
    }

    & .image-holder {
      height: 400px;
    }
  }

  .location-section .location-content {
    padding: 20% 5%;
  }

  .slider-title {
    position: relative;
    top: auto;
    left: auto;
    padding: 40px;

    & img {
      width: 80%;
    }
  }

  .slider-view-track {
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;

    & .slide {
      width: 120px;
      height: 120px;
      margin: 16px;
    }
  }

  .marquee-like {

    & .marquee-inner {
      width: 400%;
      display: block;
      position: relative;
      overflow: hidden;
      transform: translate3d(var(--move-initial), 0, 0);
      animation: marquee 10s linear infinite;
      height: 40px;
    }

    & span {
      font-size: 32px;
    }
  }

  .location-section {
    background: url(../img/section-location.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .canvas-contained {
    display: none;
  }

  .nature-section .sustentabilidade-detail img {
    width: 160px;
  }

  .ecommerce-section {
    padding: 24px 0;
  }

  .main-hero .icon-logo-capa {
    font-size: 120px;
    padding: 24px;
  }

}


@media (max-width: 900px) {

  .nav-holder {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    padding: 24px 0;

    & a {
        margin: 16px 0;
    }
  }

  .select-holder {
    height: auto;
    & .country-nav {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      width: 100%;
      padding: 24px 0;
    }
  }

  .location-bar {
    flex-direction: column;
  }

  .nature-section {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .nature-bg {
    padding: 40px 0;
  }

  .nature-section .nature-bg .nature-detail {
    position: relative;
    top: auto;
    right: auto;
  }

  #news-bar {
    display: none;
  }

  .main-hero .icon-logo-capa {
    font-size: 90px;
    padding: 24px;
  }

}

